<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kurgimopeed</title>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/remote-control.js"></script>
    <script src="static/js/calibrate.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="static/css/remote-control.css">
</head>

<body>
    <h1>kurgimopeed controller</h1>
    <div id="rc">
        <h2>Your ID: <span id="ws-id"></span></h2>
        <b>WS status: <span id="ws-status"></span></b><br>
        <button id="main_switch" class="main_disabled">OFF</button><br>
        <div>
            <div class="row">
                <div class="column">
                    <div>
                        <div>
                            <b>Main speed: </b><span id="speed_slider_text"></span>
                        </div>
                        <input id="speed_slider" type="range" min="0" max="100" value="0">
                    </div>
                    <div>
                        <div>
                            <b>Thrower speed: </b><span id="thrower_slider_text"></span>
                        </div>
                        <input id="thrower_slider" type="range" min="0" max="3000" value="0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="controls">
                    <div>
                        <button id="key_turnL">⭯</button>
                        <button id="key_up">↑</button>
                        <button id="key_turnR">⭮</button>
                    </div>
                    <div>
                        <button id="key_left">←</button>
                        <button id="key_down">↓</button>
                        <button id="key_right">→</button>
                    </div>
                </div>
            </div>
        </div>
        </div>


    <div id="video">
    </div>

    <div id="calibrate">

    </div>
    <button onclick="load_config()">Load threshold.json</button>
    <button onclick="save_config()">Save threshold.json</button>
</body>

</html>