body div {
    display: flex;
}

.row {
    margin: 5px;
}

.row div {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.row div input {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

#main_switch {
    width: 200px;
    height: 50px;
    border-color: lightgray;
    border-radius: 10px;
    font-size: large;
}

.main_disabled {
    background-color: red;
}

.main_enabled {
    background-color: lime;
}

.controls {
    display: flex;
    flex-direction: column;
}
.controls div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.controls div button {
    width: 80px;
    height: 80px;
    font-size: 40px;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.controls div button:active, .active{
    background-color: lightgreen;
}

.closed {
    color: red;
}
.connecting {
    color: orange;
}
.connected {
    color: lime;
}